.circle {
  width: 120px;
  height: 120px;
  background-color: red;
  border-radius: 50%;
  transition: transform 0.1s ease;
}
.circle:hover {
  transform: scale(1.10);
  transition: transform 0.1s ease;
}
.circle:active {
  transform: scale(0.90);
}
body {
  background-color: darkgrey;
  font-family: Sans-Serif;
  font-size: 18px;
}
button {
  background-color: lightgrey;
  border-radius: 4px;
}
button:hover {
  background-color: grey;
}
