.circle {
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 50%;
  transition: transform 0.1s ease;
}
.circle:hover {
  transform: scale(1.10);
  transition: transform 0.1s ease;
}
.circle:active {
  transform: scale(0.90);
}
body {
  background-color: darkgrey;
  font-family: Sans-Serif;
  font-size: 18px;
}
button {
  background-color: lightgrey;
  border-radius: 4px;
}
button:hover {
  background-color: grey;
}
#message {
  opacity: 0;
  transition: opacity 0.5s ease-in-out; 
}
#message.visible {
   opacity: 1;
}
